@using WebsiteMuaBanNhaDat1.Models
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int x = 0;
    int y = 0;
    string ketqua = ViewBag.KetQua;
}

<div class="">
    <div id="slider" class="sl-slider-wrapper">

        <div class="sl-slider">
            @foreach (var item in ViewBag.TinRaoCBCHTNoiBat)
            {
                if (item.ma_loaihinh == 1 && item.so_phongngu != 0)
                {
                    x = x + 1;
                    if (x == 1)
                    {
                        <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                            <div class="sl-slide-inner">
                                <div class="bg-img bg-img-1"></div>
                                <h2><a href="#">@(item.so_phongkhach) Phòng khách, @(item.so_phongngu) Phòng ngủ, @(item.so_nhabep) Nhà bếp, @(item.so_toilet) Toilet</a></h2>
                                <blockquote>
                                    <p class="location"><span class="glyphicon glyphicon-map-marker"></span>@(item.ten_quanhuyen) ,@(item.ten_tinhtp) </p>
                                    <p>@(item.tieude)</p>
                                    <cite>@(item.gia)  @(item.ten_donvi) </cite>
                                </blockquote>
                            </div>
                        </div>
                    }
                    else if (x == 2)
                    {
                        <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                            <div class="sl-slide-inner">
                                <div class="bg-img bg-img-2"></div>
                                <h2><a href="#">@(item.so_phongkhach) Phòng khách, @(item.so_phongngu) Phòng ngủ, @(item.so_nhabep) Nhà bếp, @(item.so_nhabep) Toilet</a></h2>
                                <blockquote>
                                    <p class="location"><span class="glyphicon glyphicon-map-marker"></span>@(item.ten_quanhuyen) ,@(item.ten_tinhtp) </p>
                                    <p>@(item.tieude)</p>
                                    <cite>@(item.gia)  @(item.ten_donvi) </cite>
                                </blockquote>
                            </div>
                        </div>
                    }
                    else if (x == 3)
                    {
                        <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                            <div class="sl-slide-inner">
                                <div class="bg-img bg-img-3"></div>
                                <h2><a href="#">@(item.so_phongkhach) Phòng khách, @(item.so_phongngu) Phòng ngủ, @(item.so_nhabep) Nhà bếp, @(item.so_nhabep) Toilet</a></h2>
                                <blockquote>
                                    <p class="location"><span class="glyphicon glyphicon-map-marker"></span>@(item.ten_quanhuyen) ,@(item.ten_tinhtp) </p>
                                    <p>@(item.tieude)</p>
                                    <cite>@(item.gia)  @(item.ten_donvi) </cite>
                                </blockquote>
                            </div>
                        </div>
                    }
                    else if (x == 4)
                    {
                        <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
                            <div class="sl-slide-inner">
                                <div class="bg-img bg-img-4"></div>
                                <h2><a href="#">@(item.so_phongkhach) Phòng khách, @(item.so_phongngu) Phòng ngủ, @(item.so_nhabep) Nhà bếp, @(item.so_nhabep) Toilet</a></h2>
                                <blockquote>
                                    <p class="location"><span class="glyphicon glyphicon-map-marker"></span>@(item.ten_quanhuyen) ,@(item.ten_tinhtp) </p>
                                    <p>@(item.tieude)</p>
                                    <cite>@(item.gia)  @(item.ten_donvi) </cite>
                                </blockquote>
                            </div>
                        </div>
                    }
                    else if (x == 5)
                    {
                        <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
                            <div class="sl-slide-inner">
                                <div class="bg-img bg-img-5"></div>
                                <h2><a href="#">@(item.so_phongkhach) Phòng khách, @(item.so_phongngu) Phòng ngủ, @(item.so_nhabep) Nhà bếp, @(item.so_nhabep) Toilet</a></h2>
                                <blockquote>
                                    <p class="location"><span class="glyphicon glyphicon-map-marker"></span>@(item.ten_quanhuyen) ,@(item.ten_tinhtp) </p>
                                    <p>@(item.tieude)</p>
                                    <cite>@(item.gia)  @(item.ten_donvi) </cite>
                                </blockquote>
                            </div>
                        </div>
                    }
                }
            }
        </div>



        <nav id="nav-dots" class="nav-dots">
            <span class="nav-dot-current"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </nav>

    </div><!-- /slider-wrapper -->
</div>



<div class="banner-search">
    <div class="container">
        <!-- banner -->
        <h3>TÌM KIẾM</h3>
        <div class="searchbar">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <input type="text" class="form-control" placeholder="Nhập từ khóa để tìm theo cụm từ">
                    <div class="row">
                        <div class="col-lg-3 col-sm-3 ">
                            <select class="form-control">
                                <option>Loại hình</option>
                                <option>Nhà đất bán</option>
                                <option>Nhà đất cho thuê</option>
                                <option>Nhà đất cần mua</option>
                                <option>Nhà đất cần thuê</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-sm-4">
                            <select class="form-control">
                                <option>Loại</option>
                                <option>Bán A</option>
                                <option>Bán A</option>
                                <option>Bán A</option>
                                <option>Bán A</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <select class="form-control">
                                <option>Tỉnh/Thành phố</option>
                                <option>Apartment</option>
                                <option>Building</option>
                                <option>Office Space</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-sm-4">
                            <a href="#" class="btn btn-success btn-lg">
                                <span class="glyphicon glyphicon-search"></span>
                            </a>
                        </div>
                    </div>


                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6 ">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner -->
@foreach (var item in ViewBag.lstLoaiHinhCBCHT)
{
    <!--Nhà đất bán-->
    <div class="container">
        <div class="properties-listing spacer">
            <a href="buysalerent.php" class="pull-right viewall" style="color:darkred"> Xem thêm <i class="fas fa-angle-double-right"></i></a>
            <h3 style="text-transform:uppercase;font-weight:bold">@(item.ten_loaihinh)</h3>
            <div id="owl-example@(item.ma_loaihinh)" class="owl-carousel">
                @Html.Action("TinNoiBatPartial", "Home", new { ma = item.ma_loaihinh })
            </div>
        </div>
    </div>
    <!--End Nhà đất bán-->
}


<div class="container">
    <div class="spacer">
        <div class="row">
            <div class="col-lg-6 col-sm-9 recent-view">
                @foreach (var item in ViewBag.lstLoaiHinhCMCT)
                {
                    <h3 style="text-transform:uppercase;font-weight:bold">@(item.ten_loaihinh)</h3>
                    <ul>
                        @Html.Action("TinNoiBatCMCTPartial", "Home", new { ma = item.ma_loaihinh })
                    </ul>
                    <a href="buysalerent.php" class="pull-right viewall" style="color:darkred"> Xem thêm <i class="fas fa-angle-double-right"></i></a>
                    <br />
                }

            </div>
            <div class="col-lg-5 col-lg-offset-1 col-sm-3 recommended">
                <h3 class="col-lg-12" style="background-color:green;padding:7px;color:white;font-weight:bold">Tin rao mới nhất</h3>
                <div class="spacer">
                    <div id="myCarousel" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            
                            @foreach (var item in ViewBag.TinRaoCBCHTNoiBat)
                            {
                                y = y + 1;
                                if (y == 1)
                                {
                                    <div class="item active">
                                        <div class="row">
                                            <div class="col-lg-4"><img src="~/Content/images/properties/@item.anh1" class="img-responsive" alt="properties" /></div>
                                            <div class="col-lg-7">
                                                @if ((item.tieude.Length) <= 40)
                                                {
                                                    <h5><a href="property-detail.html">@(item.tieude)</a></h5>
                                                }
                                                else
                                                {
                                                    <h5><a href="property-detail.html">@(item.tieude.Substring(0, 40))...</a></h5>
                                                }
                                                <h5><a href="property-detail.html">@(item.tieude.Substring(0, 40))...</a></h5>
                                                <p class="price">@(item.gia) @(item.ten_donvi)</p>
                                                <a href="property-detail.html" class="more">Chi tiết</a>
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-4"><img src="~/Content/images/properties/@item.anh1" class="img-responsive" alt="properties" /></div>
                                            <div class="col-lg-7">
                                                @if ((item.tieude.Length) <= 40)
                                                {
                                                    <h5><a href="property-detail.html" style="color:#18851a">@(item.tieude)</a></h5>
                                                }
                                                else
                                                {
                                                    <h5><a href="property-detail.html" style="color:#18851a">@(item.tieude.Substring(0, 40))...</a></h5>
                                                }
                                                <p class="price">@(item.gia) @(item.ten_donvi)</p>
                                                <a href="property-detail.html" class="more">Chi tiết</a>
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                </div>
                <br />
                <h3 class="col-lg-12" style="background-color:green;padding:7px;color:white;font-weight:bold">Phong thủy</h3>
                <div class="spacer">
                    @foreach (var item in ViewBag.PhongThuy)
                    {
                        <br />
                        <div class="row">
                         
                            <div class="col-lg-4"><img src="~/Content/images/properties/4.jpg" class="img-responsive" alt="properties" /></div>
                            <div class="col-lg-7">
                                @if (item.tieude.Length <= 50)
                                {
                                    <h5><b><a href="property-detail.html" style="color:#1d3b18">@(item.tieude)</a></b></h5>
                                }
                                else
                                {
                                    <h5><b><a href="property-detail.html" style="color:#1d3b18">@(item.tieude.Substring(0, 50))...</a></b></h5>
                                }
                                <p class="price">@(item.ngaydang.ToString("dd/MM/yyyy"))</p>
                                <a href="property-detail.html" class="more">Chi tiết</a>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <br />
                    }


                </div>
            </div>
        </div>
    </div>
</div>
@Html.Action("DangNhapPartial", "TaiKhoan")
@foreach (var item in ViewBag.lstLoaiHinhCBCHT)
{
    <script>
        $(document).ready(function () {

            $("#owl-example@(item.ma_loaihinh)").owlCarousel();


            $('.listing-detail span').tooltip('hide');
            $('.carousel').carousel({
                interval: 3000
            });
            $('.carousel').carousel('cycle');
        });


    </script>
}

<script>
    if(@ketqua.Count()!=0){

        alert('@Html.Raw(ketqua.ToString())');
    }
</script>