@using WebsiteMuaBanNhaDat1.Models
@model IEnumerable<TinRao>
    @foreach (var item in ViewBag.TinRaoCBCHTNoiBat)
    {
            if ((DateTime.Now.Subtract(item.ngaydang).Days) <= 7)
            {
                <div class="properties">
                    <div class="image-holder">
                        <img src="~/Content/images/properties/@item.anh1" class="img-responsive" alt="properties" />
                        <div class="status new">Mới</div>
                    </div>
                    <h4><a href="#" data-toggle="tooltip" title="@item.tieude!">@(item.tieude.Substring(0, 22))...</a></h4>
                    <p class="price">Giá: @(item.gia)  @(item.ten_donvi) </p>
                    @if (item.so_phongngu > 0)
                    {
                        <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Phòng ngủ">@item.so_phongngu</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Phòng khách">@item.so_phongkhach</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Nhà bếp">@item.so_nhabep</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Toilet">@item.so_toilet</span> </div>

                    }
                    else
                    {
                        <div style="visibility:hidden" class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Phòng ngủ">@item.so_phongngu</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Phòng khách">@item.so_phongkhach</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Nhà bếp">@item.so_nhabep</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Toilet">@item.so_toilet</span> </div>
                    }
                    <a class="btn btn-primary" href="property-detail.php">Chi tiết</a>
                </div>

            }
            else
            {
                <div class="properties">
                    <img src="~/Content/images/properties/@item.anh1" class="img-responsive" alt="properties" />
                    <h4><a href="#" data-toggle="tooltip" title="@item.tieude!">@(item.tieude.Substring(0, 22))...</a></h4>
                    <p class="price">Giá: @(item.gia)  @(item.ten_donvi) </p>
                    @if (item.so_phongngu > 0)
                    {
                        <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Phòng ngủ">@item.so_phongngu</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Phòng khách">@item.so_phongkhach</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Nhà bếp">@item.so_nhabep</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Toilet">@item.so_toilet</span> </div>

                    }
                    else
                    {
                        <div style="visibility:hidden" class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Phòng ngủ">@item.so_phongngu</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Phòng khách">@item.so_phongkhach</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Nhà bếp">@item.so_nhabep</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Toilet">@item.so_toilet</span> </div>
                    }
                    <a class="btn btn-primary" href="property-detail.php">Chi tiết</a>
                </div>
            }
    }
