@using WebsiteMuaBanNhaDat1.Models
@model IEnumerable<TinRaoCBCHT>
@{
    ViewBag.Title = ViewBag.TieuDeTin;
    Layout = "~/Views/Shared/_LayoutTheoLoai.cshtml";
    var lienhe = ViewBag.LienHe;
   int sonhanxet = ViewBag.NhanXet.Count;
}
<style>
    .comments {
        height: 300px;
        overflow-y: scroll;
    }

    .comment {
        border: 1px solid #b4afaf;
    }

    .demuc {
        color: #304b0a;
    }
</style>
<script>
    $(document).ready(function () {
        // alert("hi");
        $('.nav-list > li').removeClass('active');
        $("#@(ViewBag.TenLoaiHinh)").addClass('active');
    });
</script>
@foreach (var item in ViewBag.TinRaoCBCHT)
{
    <h2>@item.tieude</h2>
    <div class="row">
        <div class="col-lg-8">
            <div class="property-images">
                <!-- Slider Starts -->
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <!-- Item 1 -->
                        <div class="item active">
                            <img src="~/Content/images/properties/@item.anh1" class="properties" alt="properties" />
                        </div>
                        <!-- #Item 1 -->
                        <!-- Item 2 -->
                        <div class="item">
                            <img src="~/Content/images/properties/@item.anh2" class="properties" alt="properties" />

                        </div>
                        <!-- #Item 2 -->
                        <!-- Item 3 -->
                        <div class="item">
                            <img src="~/Content/images/properties/@item.anh3" class="properties" alt="properties" />
                        </div>
                        <!-- #Item 3 -->
                        <!-- Item 4 -->
                        <div class="item ">
                            <img src="~/Content/images/properties/@item.anh4" class="properties" alt="properties" />

                        </div>
                        <!-- # Item 4 -->
                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
                <!-- #Slider Ends -->

            </div>




            <div class="spacer">
                <h4><b class="demuc"><span class="glyphicon glyphicon-th-list"></span> Thông tin mô tả</b></h4>
                <p>@Html.Raw(item.mota)</p>
            </div>
            <button type="button" id="btnXem360" class="btn btn-lg btn-warning">Xem ảnh 360<sup>o</sup></button>
            <div>
                <h4><b class="demuc"><span class="glyphicon glyphicon-map-marker"></span> Vị trí</b></h4>
                <div class="well"><iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Pulchowk,+Patan,+Central+Region,+Nepal&amp;aq=0&amp;oq=pulch&amp;sll=37.0625,-95.677068&amp;sspn=39.371738,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Pulchowk,+Patan+Dhoka,+Patan,+Bagmati,+Central+Region,+Nepal&amp;ll=27.678236,85.316853&amp;spn=0.001347,0.002642&amp;t=m&amp;z=14&amp;output=embed"></iframe></div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="col-lg-12  col-sm-4">
                <div class="property-info">
                    <h5 style="border:3px solid #64a30a;background-color:white;padding:5px;">Giá: <b>@(item.gia) @(item.ten_donvi)</b> <br /> Diện tích: <b>@(item.dientich) m2</b></h5>
                    <p class="area">
                        <b class="demuc">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </b>
                        @(item.ten_duongpho), @(item.ten_phuongxa), @(item.ten_quanhuyen), @(item.ten_tinhtp)
                    </p>

                    <div class="profile">
                        <b class="demuc">
                            <span class="glyphicon glyphicon-user"></span> Liên hệ
                        </b>
                        <ul>
                            <li>@lienhe.ten_lienhe</li>
                            <li>
                                @if (lienhe.diachi != "")
                                {
                                    @(lienhe.diachi)
                                }
                            </li>
                            <li>
                                @if (lienhe.dienthoai != "")
                                {
                                    @(lienhe.dienthoai)
                                    <span> - </span>
                                }
                                @(lienhe.didong)
                            </li>
                            <li>@lienhe.email</li>
                        </ul>
                    </div>
                </div>

                <h6><b class="demuc"><span class="glyphicon glyphicon-home"></span> Cơ sở vật chất</b></h6>
                <div class="listing-detail">
                    <span data-toggle="tooltip" data-placement="bottom" data-original-title="Phòng ngủ">@(item.so_phongngu)</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Phòng khách">@(item.so_phongkhach)</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Nhà bếp">@(item.so_nhabep)</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Toilet">@(item.so_toilet)</span>
                </div>
                <p><b class="demuc"><span class="glyphicons glyphicons-calendar"></span> Ngày đăng:</b> @item.ngaydang.ToString("dd/MM/yyyy")</p>
            </div>
            <div class="col-lg-12 col-sm-4 ">
                <div class="enquiry">
                    <h6><b class="demuc"><span class="glyphicon glyphicon-envelope"></span> Nhận xét</b></h6>
                    @if (Session["TaiKhoan"] == null)
                    {
                        using (Html.BeginForm("NhanXet_VoDanh", "NhanXet", new { _ma_tinrao = @item.ma_tinrao, _ma_loaihinh = item.ma_loaihinh }, FormMethod.Post, new {id="frmVodanh" }))
                        {
                            <input type="text" name="txtHoTen" class="form-control" placeholder="Họ và tên" />
                            <input type="text" name="txtEmail" class="form-control" placeholder="Địa chỉ Email" />
                            <textarea rows="6" name="txtNoiDung" class="form-control" placeholder="Nhập nhận xét ..."></textarea>
                            <button type="submit" class="btn btn-primary" name="Submit">Đăng</button>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("NhanXet_VoDanh", "NhanXet", new { _ma_tinrao = @item.ma_tinrao, _ma_loaihinh = item.ma_loaihinh }, FormMethod.Post, new { id = "frmThanhVien" }))
                        {
                            <input type="hidden" name="txtHoTen1"  value="@Session["NguoiDung"].ToString()"/>
                            <input type="hidden" name="txtEmail1" value="@Session["Email"].ToString()" />
                            <textarea rows="6" name="txtNoiDung1" class="form-control" placeholder="Nhập nhận xét ..."></textarea>
                            <button type="submit" class="btn btn-primary" name="Submit">Đăng</button>
                        }
                    }
                </div>
            </div>
           
            <div class="col-lg-12 col-sm-4" style="visibility:hidden">Chèn hàng trắng</div>
            <div class="col-lg-12 col-sm-4 comments">
                <h6><b class="demuc"><span class="glyphicon glyphicon-comment"></span> Danh sách nhận xét</b></h6>
                <br />
                @if (sonhanxet == 0)
                {
                    <p>Chưa có nhận xét nào</p>
                }
               @foreach (var item1 in ViewBag.NhanXet)
               {
                <div class="col-lg-12 comment" style="background-color:white;padding:5px;">
                    @if (item1.thanhvien == false)
                    {
                        <div class="col-lg-12"><span class="glyphicon glyphicon-user"></span> <b>@item1.hoten</b></div>
                    }
                    else
                    {
                        <div class="col-lg-12"><span class="glyphicon glyphicon-user"></span> <b>@item1.hoten <i style="color:red;font-size:12px">(Thành viên)</i></b></div>
                    }
                    
                    <div class="col-lg-12"><span>"</span> @item1.noidung <span>"</span></div>
                    <div class="col-lg-12" style="font-style:italic;opacity:0.5;font-size:12px">@item1.ngaydang</div>
                </div>
               }              
            </div>
        </div>
    </div>

    <script>  

        $(document).ready(function () {
            $("#btnXem360").click(function () {
                //$("#panorama").attr("display", "block");
                window.open("@Url.Action("Xem360","ChiTietTinRao", new {ma_tinrao=item.ma_tinrao })", "_blank");
            })
        });
    @*$("#frmVoDanh").submit(function (e) {

        var url = "@Url.Action("NhanXet_VoDanh", "NhanXet", new { _ma_tinrao = @item.ma_tinrao, _ma_loaihinh = item.ma_loaihinh })"; // the script where you handle the form input.

        $.ajax({
            type: "POST",
            url: url,
            data: $("#frmVodanh").serialize(), // serializes the form's elements.
            success: function (data) {
                alert(data); // show response from the php script.
            }
        });

        e.preventDefault(); // avoid to execute the actual submit of the form.
    });*@
    </script>
}