@using WebsiteMuaBanNhaDat1.Models
@model IEnumerable<TinRao>
<div class="hot-properties hidden-xs" style="border-right:1px solid #bab6b6;">
    <h4 style="background-color:#64a30a;color:white;font-weight:bold;padding:10px;">Tin Rao Mới Nhất</h4>
    <marquee style="color:red;">Giá cạnh tranh</marquee>
    @foreach (var item in ViewBag.TinRaoMoiNhat)
    {
        <div class="row">
            <div class="col-lg-4 col-sm-5"><a href="@Url.Action("ChiTiet","ChiTietTinRao", new {ma_tinrao=item.ma_tinrao, ma_loaihinh=item.ma_loaihinh })"><img src="~/Content/images1/@item.anh1" class="img-responsive img-circle" alt="properties"></a></div>
            <div class="col-lg-8 col-sm-7">
                <h5><a href="@Url.Action("ChiTiet","ChiTietTinRao", new {ma_tinrao=item.ma_tinrao, ma_loaihinh=item.ma_loaihinh })" style="color:#304b0a">@(item.tieude.Substring(0, 22))...</a></h5>
                <p class="price">Giá: <b>@(item.gia) @(item.ten_donvi)</b></p>
                <p class="price"><span class="fa fa-location-arrow"></span> @(item.ten_tinhtp)</p>
            </div>
        </div>
    }


</div>
