@using WebsiteMuaBanNhaDat1.Models
@model IEnumerable<TinRaoCBCHT>
@{
    ViewBag.Title = ViewBag.TenLoaiHinh;
    Layout = "~/Views/Shared/_LayoutTheoLoai.cshtml";
}
<script>
                $(document).ready(function () {
                        // alert("hi");
                            $('.nav-list > li').removeClass('active');
                            $("#@(ViewBag.TenKhongDau)").addClass('active');
                });
</script>
<div class="sortby clearfix">
    <div class="pull-left result">Showing: 12 of 100 </div>
    <div class="pull-right">
        <select class="form-control">
            <option>Sort by</option>
            <option>Price: Low to High</option>
            <option>Price: High to Low</option>
        </select>
    </div>

</div>
<div class="row">
    @foreach (var item in ViewBag.TinRaoCBCHT)
    {
            <!-- properties -->
        <div class="col-lg-4 col-sm-6">
            <div class="properties" style="border:1px solid #1b5600">
                <div class="image-holder">
                    <img src="~/Content/images/properties/@item.anh1" class="img-responsive" alt="properties">
                    <div class="status new">Mới</div>
                </div>
                <h4><a href="@Url.Action("ChiTiet","ChiTietTinRao", new {ma_tinrao=item.ma_tinrao, ma_loaihinh=item.ma_loaihinh })" data-toggle="tooltip" title="@item.tieude!">@(item.tieude.Substring(0, 15))...</a></h4>
                <p class="price">Giá: @(item.gia) @(item.ten_donvi)</p>
                @if (item.so_phongngu > 0)
                {
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Phòng ngủ">@item.so_phongngu</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Phòng khách">@item.so_phongkhach</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Nhà bếp">@item.so_nhabep</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Toilet">@item.so_toilet</span> </div>

                }
                else
                {
                    <div style="visibility:hidden" class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Phòng ngủ">@item.so_phongngu</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Phòng khách">@item.so_phongkhach</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Nhà bếp">@item.so_nhabep</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Toilet">@item.so_toilet</span> </div>
                }
                <a class="btn btn-primary" href="@Url.Action("ChiTiet","ChiTietTinRao", new {ma_tinrao=item.ma_tinrao, ma_loaihinh=item.ma_loaihinh })">Chi tiết</a>
            </div>
        </div>
    <!-- properties -->
    }
    @*<div class="center">
            <ul class="pagination">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>*@

</div>

