@using WebsiteMuaBanNhaDat1.Models;
@model IEnumerable<LoaiHinh>
@{
    ViewBag.Title = "Quản lý nội dung loại hình";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .cbo {
        width: 168px;
        height: 22px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
    }

    #txtHiddenId {
        display: none;
    }

    .cs {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        width: 700px;
        border-radius: 20px;
        border: 2px solid blue;
        margin: 0px auto;
        margin-top: 4%;
        margin-bottom: 2%;
    }

    table#QuanLyNoiDungLoaiHinh {
        width: 95%;
        margin: auto;
    }

    div#khung {
        margin-top: 3%;
    }

    .space {
        width: 50px;
    }

    table.tableEdit {
        margin-left: 30%;
    }

    td.ten {
        padding-left: 15px;
    }
</style>
<script type="text/javascript">
    ribbon.SetActiveTabIndex(0);
    function OnGridFocusedRowChanged(s, e) {
        s.GetRowValues(s.GetFocusedRowIndex(), 'ma_ndloaihinh;ten_ndloaihinh;tenkhongdau;ma_loaihinh', OnGetRowValues);
    }
    function OnGetRowValues(values) {
        txtHiddenId.SetText(values[0]);
        //txt_ma_taikhoan.SetText(values[0]);
        txt_ten_ndloaihinh.SetText(values[1]);
        txt_tenkhongdau.SetText(values[2]);
        document.getElementById("txt_ma_loaihinh").value = values[3];
    }
    function fncBtnXoaClick() {
        var x = document.getElementById("txtHiddenId_I").value;
        var result = confirm("Bạn có chắc chắn muốn xóa?");
        if (result) {
            var url = '@Url.Action("Xoa", "QuanLyNoiDungLoaiHinh")' + '?id=' + x;
            window.location.href = url;
            alert("Đã xóa thành công");
        }
        else {
            return false;
        }
    }
</script>
<h2>QUẢN LÝ NỘI DUNG LOẠI HÌNH</h2>
<div id="khung">
    @Html.Action("QuanLyNoiDungLoaiHinhPartial")

    <div style="width:100%;text-align:center;margin-top:2%">
        @*--------------------------------------Button Thêm*@
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalThem" name="btnThêm">Thêm</button>
        @*--------------------------------------Button Sửa*@
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalSua" name="btnSua">Sửa</button>
        @*--------------------------------------Button Xóa*@
        <button type="button" class="btn btn-primary" name="btnXoa" onclick="fncBtnXoaClick()">Xóa</button>
    </div>
</div>
@*//--------------------------------------*@
@*--------------------------------------*@
@using (Html.BeginForm("SaveNewDocument", "QuanLyNoiDungLoaiHinh"))
{
    <!-- Modal Thêm-->
    <div class="modal fade" id="myModalThem" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">THÊM NỘI DUNG LOẠI HÌNH</h4>
                </div>
                <div class="modal-body">
                    <table class="tableEdit">
                        <tr>
                            <td class="lbl">
                                <label>Tên ND loại hình</label>
                            </td>

                            <td class="ten">
                                @Html.DevExpress().TextBox(settings =>
                       {
                           settings.Name = "txtNew_ten_ndloaihinh";
                       }).GetHtml()
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="lbl">
                                <label>Tên không dấu</label>
                            </td>
                            <td class="ten">
                                @Html.DevExpress().TextBox(settings =>
                                    {
                                        settings.Name = "txtNew_tenkhongdau";
                                    }).GetHtml()
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="lbl">
                                <label>Loại hình</label>
                            </td>
                            <td class="ten">
                                @Html.DropDownList("txtNew_ma_loaihinh", (IEnumerable<SelectListItem>)ViewBag.DMLoaiHinh, "---Chọn loại hình---", new { @class = "cbo" })
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="submit" class="btn">Lưu</button>
                        <button type="button" class="btn" data-dismiss="modal">Bỏ lưu</button>
                    </center>
                </div>
            </div>

        </div>
    </div>
}
<!--End Modal Thêm-->
@*@Html.Hidden("id")*@
@using (Html.BeginForm("SaveEditDocument", "QuanLyNoiDungLoaiHinh"))
{
    <!-- Modal Sửa-->
    <div class="modal fade" id="myModalSua" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">SỬA NỘI DUNG LOẠI HÌNH</h4>
                    @Html.DevExpress().TextBox(settings =>
{
    settings.Name = "txtHiddenId";
    settings.ReadOnly = true;
    // settings.ClientVisible = false;
}).GetHtml()
                </div>
                <div class="modal-body">
                    <table class="tableEdit">
                        <tr>
                            <td class="lbl">
                                <label>Tên ND loại hình</label>
                            </td>

                            <td class="ten">
                                @Html.DevExpress().TextBox(settings =>
                       {
                           settings.Name = "txt_ten_ndloaihinh";
                       }).GetHtml()
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="lbl">
                                <label>Tên không dấu</label>
                            </td>
                            <td class="ten">
                                @Html.DevExpress().TextBox(settings =>
                                    {
                                        settings.Name = "txt_tenkhongdau";
                                    }).GetHtml()
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="lbl">
                                <label>Loại hình</label>
                            </td>
                            <td class="ten">
                                @Html.DropDownList("txt_ma_loaihinh", (IEnumerable<SelectListItem>)ViewBag.DMLoaiHinh, "---Chọn loại hình---", new { @class = "cbo" })
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="submit" class="btn" id="btnLuuSua">Lưu</button>
                        <button type="button" class="btn" data-dismiss="modal">Bỏ lưu</button>
                    </center>
                </div>
            </div>

        </div>
    </div>
}
<!--End Modal Sửa-->