@model WebsiteMuaBanNhaDat1.Models.TaiKhoan

@{
    ViewBag.Title = "Chỉnh sửa thông tin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    label#fieldname {
        text-align: left;
        font-weight: bold;
        margin-left: 2%;
        ;
        font-size: 15px;
    }

    #fieldcontent {
        margin-left: 12%;
        font-size: 15px;
    }
</style>


<h2 class="tieude">CHỈNH SỬA THÔNG TIN</h2>
@using (Html.BeginForm("ChinhSuaThongTin", "TaiKhoan", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-left:7%">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ma_taikhoan)

        <div class="form-group">
            @Html.LabelFor(model => model.tennguoidung, htmlAttributes: new { @class = "control-label col-md-2 ", id = "fieldname" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.tennguoidung, new { htmlAttributes = new { @class = "form-control", id = "fieldcontent" } })
                @Html.ValidationMessageFor(model => model.tennguoidung, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tendangnhap, htmlAttributes: new { @class = "control-label col-md-2", id = "fieldname" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.tendangnhap, new { htmlAttributes = new { @class = "form-control", id = "fieldcontent" } })
                @Html.ValidationMessageFor(model => model.tendangnhap, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.matkhau)

        <div class="form-group">
            @Html.LabelFor(model => model.anhdaidien, htmlAttributes: new { @class = "control-label col-md-2", id = "fieldname" })
            <div class="col-md-4">
                @Html.HiddenFor(model => model.anhdaidien, new { @id = "hinhdaidien1" })

                <div id="imgPreview">
                    <img id="blah" src="~/Content/images1/login/@Model.anhdaidien" width="300" height="250" />
                    <input type="hidden" name="oldanhdaidien" id="old_anhdaidien" />
                 </div>
                <hr />
                <div class="btn btn-primary">
                    <input type="file" class="single" name="anhdaidien" id="anhdaidien" />
                </div>
                <script>
                    $(document).ready(function () {
                     
                        $("#anhdaidien").change(function () {
                            readURL(this);
                            $('#blah').css("display", "block");
                        });
                        function readURL(input) {

                            if (input.files && input.files[0]) {
                                var reader = new FileReader();

                                reader.onload = function (e) {
                                    $('#blah').attr('src', e.target.result);
                                }

                                reader.readAsDataURL(input.files[0]);
                            }
                        }
                    });
                </script>
                @*@Html.DevExpress().BinaryImageFor(model=>model.HinhDaiDien, settings =>
                    {
                        settings.Width = 150;
                        settings.Height = 150;

                        settings.Properties.EditingSettings.Enabled = true;
                        settings.CallbackRouteValues = new { Action = "BinaryImageColumnPhotoUpdate", Controller = "QuanLyTaiKhoan" };
                    }).GetHtml()*@


            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.diachi, htmlAttributes: new { @class = "control-label col-md-2", id = "fieldname" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.diachi, new { htmlAttributes = new { @class = "form-control", id = "fieldcontent" } })
                @Html.ValidationMessageFor(model => model.diachi, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.maquyen)

        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2", id = "fieldname" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", id = "fieldcontent" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.dienthoai, htmlAttributes: new { @class = "control-label col-md-2", id = "fieldname" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.dienthoai, new { htmlAttributes = new { @class = "form-control", id = "fieldcontent" } })
                @Html.ValidationMessageFor(model => model.dienthoai, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div style="float:left;margin-left:15%">
                <input type="submit" value="Lưu" class="btn btn-success" /> |
                <a href="@Url.Action("ThongTin","TaiKhoan", new { @id = Model.ma_taikhoan }) "><div class="btn btn-warning">Trở về</div></a>
            </div>
        </div>
    </div>
   
}
<script>
    debugger;
    document.getElementById("oldanhdaidien").value = @(Model.anhdaidien);
</script>